@import "tailwindcss";


:root {
  --background: #fafafa;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--background);
    color: var(--foreground);
  }
}

/* Default for large screens: Comic Sans */
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  /* font-weight: 900 ; */
}

/* Mobile screens: use Comic Neue */
@media (max-width: 768px) {
  body {
    font-family: var(--font-comic-neue), cursive, sans-serif;
  }
}


.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

